<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
        </div>
        <div class="modal-footer">
            <button id="confirmBtn" class="btn-modal btn-confirm">Oui, supprimer</button>
            <button id="cancelBtn" class="btn-modal btn-cancel">Annuler</button>
        </div>
    </div>
</div>