{% load static %}
{% include 'articles/navbar.html' %}
{% block content %}
<link rel="stylesheet" href="{% static 'articles/detail.css' %}">
<link rel="stylesheet" href="{% static 'articles/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/disign.css' %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="article-container">
                <h1 class="article-title">{{ article.title }}</h1>
                <p class="article-summary">{{ article.sumary }}</p>
                <img src="{{ article.image.url }}" class="img-fluid article-summary" alt="Article Image">
                <div class="article-content">
                    {{ article.content|linebreaks }}
                </div>
                <p class="article-date">Publié le : {{ article.date_pub|date:"d F Y" }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'modifier_article' article.id %}" class="btn btn-sm btn-warning">Modifier</a>
                <a class="btn btn-sm btn-danger" onclick="openModal('{% url 'delete_article' article.id %}'); return false;">Supprimer</a>
                {% endif %}
                <a onClick="history.back();" class="btn btn-sm btn-primary">Retour</a>
                {% include 'articles/confirmation.html' %}
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Commentaires</h1>
            <p>{{ article.user.get_full_name }}</p>
            <div class="comment-section">
                {% for comment in article.comment_set.all %}
                <div class="card text-bg-light mb-3">
                    <div class="card-header">{{ comment.owner }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.created_at }}</h5>
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <form action="{% url 'add_comment' article.id %}" method="POST">
                {% csrf_token %}
                {{ Form.as_p }}
                <button type="submit" class="btn btn-primary">Commenter</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

 <script src="{% static 'articles/js/confirmation.js' %}"></script>
</body>
</html>
{% endblock %}
